@tailwind base;
@tailwind components;
@tailwind utilities;



.backgroung-img {
  background-image: url("../../public/Assets/img/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}


#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-free-mode>.swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
  margin-top: 1rem;
}

body {
  background-color: rgb(241 245 249);
  /* color: #000; */
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
  /* margin-top: 1rem; */
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 1rem;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.skeleton {
  background-image: linear-gradient(105deg, rgb(5 5 239 / 25%) 0%, rgb(215, 215, 226) 40%, var(--fallback-b1, oklch(var(--b1))) 80%, rgb(215, 215, 226) 60%, rgb(215, 215, 226) 100%);
}